body {
    background-image: linear-gradient(to bottom, black, rgb(26, 0, 99));
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
    text-align: center;
    color: black;
}
input[type=text], input[type=file] {
    width: 80%;
    padding: 8px;
    margin: 5px 0;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
    color: white;
}
.mensagem {
    margin: 10px 0;
    font-weight: bold;
}
.sucesso { color: green; }
.erro { color: red; }

img {
    max-width: 80px;
    border-radius: 5px;
    margin-left: 10px;
}

ul {
    list-style: none;
    padding: 0;
}
li {
    background: #eaeaea;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: transform 0.2s;
}